<template>
    <div class="container is-fluid">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Парсер товаров
                    </h1>
                    <h2 class="subtitle">
                        Получение товаров из прайса поставщика
                    </h2>
                </div>
            </div>
        </section>

        <b-notification type="is-success" :active.sync="isActiveSuccess">
            Парсинг товаров успешно заверешен. В прайс магазина добавлено {{ result }} товаров.
        </b-notification>
        <b-notification type="is-danger" :active.sync="isActiveDanger">
            Эти товары уже существуют в прайсе магазина:
            <span v-for="duplicate in duplicates">
                <a target="_blank" :href="duplicate['link']">{{ duplicate['code'] }}</a>,
            </span>
        </b-notification>

        <div class="box">
            <form method="post">
                <!--{{ csrf_field() }}-->
                <label class="label">Интервал страниц:</label>
                <div class="field is-grouped">
                    <div class="control">
                        <input name="start" min="1" class="input" type="number" placeholder="Первая" v-model="settings.start">
                    </div>
                    <div class="control">
                        <input name="end" class="input" type="number" placeholder="Последняя" v-model="settings.end">
                    </div>
                </div>

                <label class="label">Товаров на странице:</label>
                <div class="field is-grouped">
                    <div class="control">
                        <input name="products" min="16" class="input" type="number" placeholder="16|24|32|48" v-model="settings.products">
                    </div>
                </div>

                <label class="label">Дополнительные настройки:</label>
                <div class="field">
                    <b-switch v-model="settings.format"
                              true-value="1"
                              false-value="0">
                        Форматировать описание
                    </b-switch>
                </div>
                <div class="field">
                    <b-switch v-model="settings.price"
                              true-value="1"
                              false-value="0">
                        Рассчитать цену на товар
                    </b-switch>
                </div>
                <div class="field">
                    <b-switch v-model="settings.photos"
                              true-value="1"
                              false-value="0">
                        Сохранять фото
                    </b-switch>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button @click="pars" onsubmit="return false" type="button" class="button is-primary">Начать</button>
                    </div>
                </div>
            </form>
        </div>
        <b-loading :active.sync="isLoading" :canCancel="true"></b-loading>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                isActiveSuccess: false,
                isActiveDanger: false,
                result: '',
                duplicates: [],
                settings: {
                    start: 1,
                    end: 1,
                    products: 48,
                    format: 1,
                    price: 1,
                    photos: 1,
                }
            }
        },
        methods: {
            pars() {
                this.isLoading = true;
                axios.post('/parser', this.$data.settings)
                    .then((response) => {
                        this.isLoading = false;
                        console.log(response.data);
                        this.result = response.data.result;
                        this.duplicates = response.data.duplicates;
                        this.isActiveSuccess = true;
                        if(response.data.duplicates) {
                            this.isActiveDanger = true;
                        }

                    })
                    .catch((error) => this.isLoading = false);
            }
        }
    }
</script>