<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">
                        Выгрузка товаров
                    </p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <div class="level-item">
                    <span>Товаров на стр.</span>
                </div>
                <div class="level-item">
                    <b-select v-model="perPage" :disabled="!isPaginated">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </b-select>
                </div>
                <button class="level-item button is-primary" @click="">Кнопка</button>
            </div>
        </nav>

        <b-tabs size="is-medium" v-model="activeTab">
            <b-tab-item label="Таблица">

                <!-- Таблица с товарами начало -->
                <button class="button mt-30 field is-danger" @click="checkedRows = []"
                        :disabled="!checkedRows.length">
                    <b-icon icon="close"></b-icon>
                    <span>Очистить выбранные</span>
                </button>

                <button class="button is-success is-outlined mt-30 field" @click="excel"
                        :disabled="!checkedRows.length">
                    <span>Выгрузить</span>

                </button>

                <b-table
                        :data="products"
                        :checked-rows.sync="checkedRows"
                        :opened-detailed="defaultOpenedDetails"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        detailed
                        detail-key="id"
                        @details-open="(row, index) => $toast.open(`Выбран ${row.code}`)"
                        checkable
                >

                    <template slot-scope="props">
                        <b-table-column label="ID" field="id" width="40" sortable numeric>
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column label="Название" field="title_k" sortable>
                            <span v-if="props.row.title">{{ props.row.title }}</span>
                            <span class="has-text-grey-lighter" v-else>{{ props.row.title_k }}</span>
                        </b-table-column>

                        <b-table-column label="Цена">
                            <div class="tags has-addons">
                                <b-tooltip :label="props.row.price_o"
                                           type="is-light"
                                           position="is-left">
                                    <span class="tag is-info is-medium">{{ props.row.price }}</span>
                                </b-tooltip>
                                <span class="tag is-danger is-medium">{{ Math.round(props.row.price * 27) }}</span>
                                <span class="tag is-light is-medium">{{ props.row.price_k }}</span>
                            </div>
                        </b-table-column>

                        <b-table-column label="Категория">
                            <div class="tags has-addons">
                                {{ props.row.category }}
                            </div>
                        </b-table-column>

                        <b-table-column label="Модерация" centered field="verified" sortable>
                        <span v-if="props.row.verified"
                              class="icon has-text-success">
                      <i class="fa fa-check-square"></i>
                    </span>
                            <span class="icon has-text-danger"
                                  v-else>
                      <i class="fa fa-ban"></i>
                    </span>
                        </b-table-column>

                        <b-table-column label="Код" centered>
                            <span class="tag is-info is-medium">{{ props.row.code }}</span>
                            <span class="tag is-light is-medium">{{ props.row.code_k }}</span>
                        </b-table-column>

                        <b-table-column label="Опции">
                        <span class="icon cursor has-text-info">
                            <router-link :to="{name: 'ProductEdit', params: {id: props.row.id}}"><i class="fa fa-pencil"
                                                                                                    aria-hidden="true"
                                                                                                    @click=""></i></router-link>
                        </span>
                            <span class="icon cursor has-text-danger">
                          <i class="fa fa-trash" aria-hidden="true" @click=""></i>
                        </span>
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img :src="JSON.parse(props.row.images)[0]" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ props.row.title }}</strong> <span class="tag"><a target="_blank"
                                                                                                    :href="props.row.link">{{ props.row.title_k
                                        }}</a></span>
                                        <br>

                                    </p>
                                    <div v-html="props.row.description"></div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </template>

                    <template slot="bottom-left">
                        <b>Всего выбрано</b>: {{ checkedRows.length }}
                    </template>
                </b-table>

                <!-- Таблица с товарами конец -->

            </b-tab-item>

            <b-tab-item label="Опции">
                Выгрузка путем выбора каких то настроек (номера, код, категория, дата)
            </b-tab-item>

            <b-tab-item label="Пустая">
                Дополнительная вкладка под еще один способ экспорта
            </b-tab-item>
        </b-tabs>

    </section>
</template>

<script>
    export default {
        data() {
            return {
                activeTab: 0,
                products: [],
                isPaginated: true,
                perPage: 10,
                defaultOpenedDetails: [1],
                checkedRows: []
            }
        },
        methods: {
            excel () {
                axios.post('/export/excel', {products: this.checkedRows})
                    .then((response) => {

                    })
                    .catch(/*(error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'})*/);
            },
        },
        mounted() {
            axios.post('/export/table', this.$data.product)
                .then((response) => this.products = response.data.data)
                .catch((error) => this.errors = error.response.data.errors);

        },
    }
</script>

<style scoped>
    .mt-30 {margin-top: 30px}
</style>

