<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">Добавление нового шаблона описания товара</p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <button class="level-item button is-success" @click="save">Добавить</button>
                <router-link to="/snippets" class="level-item button is-primary" @click="">Отменить</router-link>
            </div>
        </nav>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Название шаблона</p>
                    <b-field>
                        <b-input v-model="snippet.name"></b-input>
                    </b-field>
                </article>
            </div>
            <div class="tile is-parent is-2">
                <article class="tile is-child box">
                    <p class="subtitle">Позиция</p>
                    <b-field>
                        <b-select
                                icon-pack="fa"
                                icon="arrows-v"
                                expanded v-model="snippet.position">
                            <option v-for="position in positions" :value="position">{{ position }}</option>
                        </b-select>
                    </b-field>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Шаблон описания</p>
                    <b-field>
                        <b-input type="textarea" v-model="snippet.template"></b-input>
                    </b-field>
                </article>
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <router-link to="/snippets" class="pagination-previous">Назад</router-link>
        </nav>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                positions: ['header', 'footer', 'off'],
                snippet: {}
            }
        },
        methods: {
            save () {
                axios.post('/snippets/store', this.snippet)
                    .then((response) => {
                        this.snippet = {};
                        this.$toast.open({message: 'Шаблон успешно сохранен', type: 'is-success'})
                    })
                    .catch((error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'}));
            }
        }
    }
</script>

<style scoped>

</style>