<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">
                        Шыблоны описания товара
                    </p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <router-link to="/snippets/add" class="level-item button is-primary">Добавить</router-link>
            </div>
        </nav>

        <b-table
                :data="snippets"
                :opened-detailed="defaultOpenedDetails"
                :paginated="isPaginated"
                :per-page="perPage"
                detailed
                detail-key="id"
                @details-open="(row, index) => $toast.open(`Выбран шаблон ${row.name}`)"
        >

            <template slot-scope="props">
                <b-table-column label="ID" field="id" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column label="Название" field="name" sortable>
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column label="Позиция" field="position" sortable>
                    {{ props.row.position }}
                </b-table-column>

                <b-table-column label="Опции" width="40" centered>
                    <span class="icon cursor has-text-danger">
                          <i class="fa fa-trash" aria-hidden="true" @click="del(props.row.id)"></i>
                        </span>
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div class="columns">
                                <div class="column">
                                    <b-field label="Шаблон">
                                        <b-input type="textarea" v-model="props.row.template"></b-input>
                                    </b-field>
                                </div>
                                <div class="column is-2">
                                    <b-field label="Название">
                                        <b-input v-model="props.row.name"></b-input>
                                    </b-field>
                                    <b-field label="Позиция">
                                        <b-select
                                                icon-pack="fa"
                                                icon="folder"
                                                expanded v-model="props.row.position">
                                            <option v-for="position in positions" :value="position">{{ position }}</option>
                                        </b-select>
                                    </b-field>
                                </div>
                            </div>
                            <button class="button is-primary" @click="save(props.row)">Сохранить</button>
                            <b-collapse :open="false">
                                <b-icon
                                        pack="fa"
                                        slot="trigger"
                                        icon="eye"
                                        size="is-medium">
                                </b-icon>
                                <div class="notification">
                                    <div class="content">
                                        <div v-html="props.row.template"></div>
                                    </div>
                                </div>
                            </b-collapse>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                snippets: [],
                positions: ['header', 'footer', 'off'],
                isPaginated: true,
                perPage: 10,
                defaultOpenedDetails: [1]
            }
        },
        methods: {
            save (snippet) {
                axios.post('/snippets', snippet)
                    .then((response) => this.$toast.open({message: 'Шаблон успешно сохранен', type: 'is-success'}))
                    .catch((error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'}));
            },
            del(id) {
                this.$dialog.confirm({
                    cancelText: 'Отменить',
                    message: 'Вы уверены,что хотите удалить этот шаблон?',
                    onConfirm: () => {
                        axios.delete(`/snippets/${id}`)
                            .then((response) => {
                                this.$toast.open({message: 'Шаблон успешно удален', type: 'is-success'});
                                this.snippets = response.data;
                            })
                            .catch((error) => this.errors = error.response.data.errors);
                    }
                })
            },
        },
        mounted() {
            axios.post('/snippets/all')
                .then((response) => this.snippets = response.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
    }
</script>

<style scoped>
    .cursor {
        cursor: pointer
    }
</style>

