<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">
                        Загрузка товаров
                    </p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <button class="level-item button is-primary" @click="">Кнопка</button>
            </div>
        </nav>
    </section>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style scoped>

</style>

