<template>
    <section class="section">
        <div class="container">
            <h1 class="title">Статистика</h1>
            <h2 class="subtitle">
            </h2>

            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Товары</p>
                        <p class="title">{{ countProducts }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Категории</p>
                        <p class="title">{{ countCategory }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">В корзине</p>
                        <p class="title">{{ countTrashed }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Тест</p>
                        <p class="title">100</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                countProducts: '',
                countCategory: '',
                countTrashed: '',
            }
        },
        created() {
            axios.post('/products/count')
                .then((response) => {this.countProducts = response.data;});
            axios.post('/products/count-trashed')
                .then((response) => {this.countTrashed = response.data;});
            axios.post('/categories/count')
                .then((response) => {this.countCategory = response.data;});
        },
        methods: {}
    }
</script>