<template>
    <aside class="menu hero column is-2 aside">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li><router-link to="/">Dashboard</router-link></li>
            <li><router-link to="/products">Товары</router-link></li>
            <li><router-link to="/basket">Корзина</router-link></li>
            <li><router-link to="/categories">Категории</router-link></li>
            <li><router-link to="/tags">Теги</router-link></li>
            <li><router-link to="/snippets">Шаблоны</router-link></li>
        </ul>
        <p class="menu-label">Administration</p>
        <ul class="menu-list">
            <li><router-link to="/parser">Парсер</router-link></li>
            <li><router-link to="/export">Выгрузка</router-link></li>
            <li><router-link to="/import">Загрузка</router-link></li>
            <li><a>Second Link</a></li>
        </ul>
    </aside>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style>
    .aside {
        margin-left: 0.75rem;
        margin-top: 0.75rem;
        display: block;
        background-color: #F9F9F9;
        border-right: 1px solid #DEDEDE;
    }
</style>