<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">Добавление нового списка тегов</p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <button class="level-item button is-success" @click="save">Добавить</button>
                <router-link to="/tags" class="level-item button is-primary" @click="">Отменить</router-link>
            </div>
        </nav>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Список тегов</p>
                    <input-tag :tags="tag.list"></input-tag>
                </article>
            </div>
            <div class="tile is-parent is-2">
                <article class="tile is-child box">
                    <p class="subtitle">Категория</p>
                    <b-field>
                        <b-select
                                icon-pack="fa"
                                icon="folder"
                                expanded v-model="tag.category_code">
                            <option v-for="category in categories" :value="category.code">{{ category.name }}</option>
                        </b-select>
                    </b-field>
                </article>
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <router-link to="/tags" class="pagination-previous">Назад</router-link>
        </nav>
    </section>
</template>

<script>
    import InputTag from 'vue-input-tag'

    export default {
        components: {
            InputTag
        },
        data() {
            return {
                tags: [],
                categories: {},
                tag: {list: []}
            }
        },
        created() {
            axios.post('/categories/all', this.$data.category)
                .then((response) => this.categories = response.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
        methods: {
            save () {
                axios.post('/tags/store', this.tag)
                    .then((response) => {
                        console.log(response.data);
                        this.tag = {list: []};
                        this.$toast.open({message: 'Теги успешно сохранены', type: 'is-success'})
                    })
                    .catch((error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'}));
            }
        }
    }
</script>

<style scoped>

</style>