<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">
                        Тэги
                    </p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <router-link to="/tags/add" class="level-item button is-primary">Добавить</router-link>
            </div>
        </nav>

        <b-table
                :data="tags"
                :opened-detailed="defaultOpenedDetails"
                :paginated="isPaginated"
                :per-page="perPage"
                detailed
                detail-key="id"
                @details-open="(row, index) => $toast.open(`Выбрана категория ${row.name}`)"
        >

            <template slot-scope="props">
                <b-table-column label="ID" field="id" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column label="Категория" field="name" sortable>
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column label="Опции" width="40" centered>
                    <span class="icon cursor has-text-danger">
                          <i class="fa fa-trash" aria-hidden="true" @click="del(props.row.id)"></i>
                        </span>
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div class="columns">
                                <div class="column">
                                    <input-tag :tags="props.row.list"></input-tag>
                                </div>
                                <div class="column is-2">
                                    <b-field>
                                        <b-select
                                                icon-pack="fa"
                                                icon="folder"
                                                expanded v-model="props.row.category_code">
                                            <option v-for="category in categories" :value="category.code">{{ category.name }}</option>
                                        </b-select>
                                    </b-field>
                                </div>
                            </div>
                            <button class="button is-primary" @click="save(props.row)">Сохранить</button>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
    </section>
</template>

<script>
    import InputTag from 'vue-input-tag'

    export default {
        components: {
            InputTag
        },
        data() {
            return {
                tags: [],
                categories: {},
                isPaginated: true,
                perPage: 10,
                defaultOpenedDetails: [1]
            }
        },
        methods: {
            save (tag) {
                axios.post('/tags', tag)
                    .then((response) => this.$toast.open({message: 'Теги успешно сохранены', type: 'is-success'}))
                    .catch((error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'}));
            },
            del(id) {
                this.$dialog.confirm({
                    cancelText: 'Отменить',
                    message: 'Вы уверены,что хотите удалить этот список тегов?',
                    onConfirm: () => {
                        axios.delete(`/tags/${id}`)
                            .then((response) => {
                                this.$toast.open({message: 'Список успешно удален', type: 'is-success'});
                                this.tags = response.data.data;
                            })
                            .catch((error) => this.errors = error.response.data.errors);
                    }
                })
            },
        },
        mounted() {
            axios.post('/tags/all', this.$data.tag)
                .then((response) => this.tags = response.data.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
        created() {
            axios.post('/categories/all', this.$data.category)
                .then((response) => this.categories = response.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
    }
</script>

<style scoped>
    .cursor {
        cursor: pointer
    }
</style>

