<template>
    <div class="modal" :class="openmodal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Добавить категорию</p>
                <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Название</label>
                    <div class="control">
                        <input class="input" :class="{'is-danger':errors.name}" type="text" placeholder="Категория" v-model="category.name">
                    </div>
                    <small v-if="errors.name" class="has-text-danger">{{ errors.name[0] }}</small>
                </div>
                <div class="field">
                    <label class="label">Код категории с Prom.ua</label>
                    <div class="control">
                        <input class="input" :class="{'is-danger':errors.code}" type="number" placeholder="Код" v-model="category.code">
                    </div>
                    <small v-if="errors.code" class="has-text-danger">{{ errors.code[0] }}</small>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="save">Добавить</button>
                <button class="button" @click="close">Отменить</button>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['openmodal'],
        data() {
            return {
                category: {
                    name: '',
                    code: ''
                },
                errors: {

                }
            }
        },
        methods: {
            close() {
                this.$emit('closeRequest');
            },
            save() {
                axios.post('/categories', this.$data.category)
                .then((response) => {
                   this.close();
                   this.$parent.categories.push(response.data);
                   this.$parent.categories.sort(function(a,b) {
                       if (a.name > b.name) {
                           return 1;
                       } else if (a.name > b.name) {
                           return -1;
                       }
                   });
                   this.category = {name: '', code: ''};
                   this.$toast.open({message: 'Категория успешно добавлена', type: 'is-success'})
                })
                .catch((error) => this.errors = error.response.data.errors);
            }
        }
    }
</script>