<template>
    <section class="section">
        <div class="container is-fluid">

            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <p class="title is-5">
                            Категории товаров
                        </p>
                    </div>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    <button class="level-item button is-primary" @click="openAdd">Добавить</button>
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input" type="text" placeholder="Найти категорию..." v-model="searchQuery">
                            </p>
                            <p class="control">
                                <button class="button">
                                    Поиск
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </nav>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Название</th>
                    <th>Код</th>
                    <th>Опции</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(category, index) in categories"> 
                    <td>{{ index + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.code }}</td>
                    <td>
                        <span class="icon cursor has-text-info">
                          <i class="fa fa-pencil" aria-hidden="true" @click="openUpdate(index)"></i>
                        </span>
                        <span class="icon cursor has-text-danger">
                          <i class="fa fa-trash" aria-hidden="true" @click="del(index, category.id)"></i>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <category-add :openmodal="addActive"  @closeRequest="close"></category-add>
            <category-update :openmodal="updateActive"  @closeRequest="close"></category-update>

        </div>
    </section>
</template>

<script>
    import CategoryAdd from './add.vue';
    import CategoryUpdate from './update.vue';

    export default {
        components: { CategoryAdd, CategoryUpdate },
        data() {
            return {
                addActive: '',
                updateActive: '',
                categories: {},
                errors: {},
                searchQuery: ''
            }
        },
        watch: {
            searchQuery() {
                if (this.searchQuery.length > 0) {
                    this.categories.filter(function() {
                        
                    });
                }
            }
        },
        mounted() {
            axios.post('/categories/all', this.$data.category)
                .then((response) => this.categories = response.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
        methods: {
            openAdd() {
                this.addActive = 'is-active'
            },
            openUpdate(index) {
                this.$children[1].category = this.categories[index];
                this.updateActive = 'is-active';
            },
            del(index, id) {
                this.$dialog.confirm({
                    cancelText: 'Отменить',
                    message: 'Вы уверены,что хотите удалить категорию?',
                    onConfirm: () => {
                        axios.delete(`/categories/${id}`)
                            .then((response) => this.categories.splice(index, 1))
                            .catch((error) => this.errors = error.response.data.errors); 
                        this.$toast.open({message: 'Категория удалена', type: 'is-success'})
                    }
                })
            },
            close() {
                this.addActive = this.updateActive = '';
            }
        }
    }
</script>

<style scoped>
.cursor {cursor: pointer}
</style>

