<template>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <span class="tag is-rounded is-large">{{ product.title_k }}</span>
                    <span @click="product.verified = !product.verified" v-if="product.verified" class="icon is-medium has-text-success">
                      <i class="fa fa-check-square"></i>
                    </span>
                    <span @click="product.verified = !product.verified" class="icon is-medium has-text-danger" v-else>
                      <i class="fa fa-ban"></i>
                    </span>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <button class="level-item button is-success" @click="save">Сохранить</button>
                <router-link to="/products" class="level-item button is-primary" @click="">Отменить</router-link>
            </div>
        </nav>

        <div class="columns">
            <div class="column">
                <b-field>
                    <b-input placeholder="Название товара"
                             v-model="product.title"
                             size="is-large">
                    </b-input>
                </b-field>
            </div>
            <div class="column is-2">
                <b-field>
                    <b-select
                            size="is-large"
                            icon-pack="fa"
                            icon="folder"
                            expanded v-model="product.category_code">
                        <option v-for="category in categories" :value="category.code">{{ category.name }}</option>
                    </b-select>
                </b-field>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Основная информация</p>

                    <div class="columns">
                        <div class="column">
                            <b-field>
                                <p class="control">
                                    <span class="button is-dark">КОД</span>
                                </p>
                                <b-input placeholder="КОД" icon-pack="fa"
                                         icon="hashtag" v-model="product.code">
                                </b-input>
                                <p class="control">
                                    <span class="button is-static">{{ product.code_k }}</span>
                                </p>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field>
                                <p class="control">
                                    <span class="button is-dark">ЦЕНА</span>
                                </p>
                                <b-input type="number" placeholder="Цена" icon-pack="fa" step="0.01"
                                         icon="usd" v-model="product.price">
                                </b-input>
                                <p class="control">
                                    <span class="button is-info">{{ Math.round(product.price * 27) }}</span>
                                </p>
                                <p class="control">
                                    <span class="button is-static">{{ product.price_k }}</span>
                                </p>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field>
                                <p class="control">
                                    <span class="button is-dark">ОПТОВАЯ</span>
                                </p>
                                <b-input type="number" placeholder="Оптовая" icon-pack="fa" step="0.01"
                                         icon="usd" v-model="product.price_o">
                                </b-input>
                                <p class="control">
                                    <span class="button is-info">{{ Math.round(product.price_o * 27) }}</span>
                                </p>
                            </b-field>
                        </div>
                    </div>

                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child box">
                    <p class="subtitle">Создание и обновление</p>
                    <ul>
                        <li><strong>Добавлен:</strong> {{ product.created_at }}</li>
                        <li><strong>Изменен:</strong> {{ product.updated_at }}</li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p class="subtitle">Описание</p>
                    <div v-if="editDescription" @dblclick="editDescription = !editDescription" class="content" v-html="product.description"></div>

                    <div v-else>
                        <!--Textarea стандартная buefy пока скрою, работает не корректно-->
                        <!--<b-field>
                            <b-input @keyup.esc.native="editDescription = !editDescription" type="textarea" v-model="product.description"></b-input>
                        </b-field>-->

                        <quill-editor v-model="product.description" @keyup.esc.native="editDescription = !editDescription"
                                      ref="myQuillEditor"
                                      :options="editorOption"
                                      @blur="onEditorBlur($event)"
                                      @focus="onEditorFocus($event)"
                                      @ready="onEditorReady($event)">
                        </quill-editor>
                    </div>

                </div>
            </div>
            <div class="tile is-5 is-parent">
                <div class="tile is-child box">
                    <carousel :navigationEnabled="true" style="margin: 0 10px">
                        <slide v-for="image, index in JSON.parse(product.images)" :key="index">
                            <img :src="image" alt="Image">
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <router-link to="/products" class="pagination-previous">Назад</router-link>
        </nav>
    </section>
</template>

<script>
    import Quill from 'quill'

    export default {
        data() {
            return {
                editDescription: true,
                product: {},
                categories: {},
                editorOption: {
                    // some quill options
                }
            }
        },
        created() {

            axios.post('/products/edit', {id: this.$route.params.id})
                .then((response) => {
                    this.product = response.data.data;
                });

            axios.post('/categories/all', this.$data.category)
                .then((response) => this.categories = response.data)
                .catch((error) => this.errors = error.response.data.errors);
        },
        computed: {
            // Метод редактора описания

        },
        methods: {
            save () {
                axios.post('/products/update', this.product)
                    .then((response) => this.$toast.open({message: 'Изменения успешно сохранены', type: 'is-success'}))
                    .catch((error) => this.$toast.open({duration: 10000, message: error, type: 'is-danger'}));
            },
            price() {
                this.$dialog.prompt({
                    inputAttrs: {
                        value: this.product.price
                    },
                    onConfirm: (value) => this.product.price = value
                })
            },
            priceO() {
                this.$dialog.prompt({
                    inputAttrs: {
                        value: this.product.price_o
                    },
                    onConfirm: (value) => this.product.price_o = value
                })
            },
            code() {
                this.$dialog.prompt({
                    inputAttrs: {
                        value: this.product.code
                    },
                    onConfirm: (value) => this.product.code = value
                })
            },

            // Методы редактора описания
            onEditorBlur(quill) {
                console.log('editor blur!', quill)
            },
            onEditorFocus(quill) {
                console.log('editor focus!', quill)
            },
            onEditorReady(quill) {
                console.log('editor ready!', quill)
            },
            onEditorChange({ quill, html, text }) {
                console.log('editor change!', quill, html, text)
                this.content = html
            }
        }
    }
</script>

<style scoped>

</style>